h1= title
#app
script(src='/javascripts/lib/jquery.js')
script(src='/javascripts/lib/underscore.js')
script(src='/javascripts/lib/backbone.js')
script(src='/javascripts/src/snippet.js')
script(src='/javascripts/src/main.js')